body{
		font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
		 font-family: 'Noto Sans TC', sans-serif;
}

subheading {
		font-family: 'Noto Sans TC', sans-serif;
}
h2.mb-0{
	text-transform: none;
}
div.subheading.mb-5{
	text-transform: none;line-height: 1em;
}
.bg-primary{
	background-color: #2d70d4!important;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
}
.text-primary {
    color: #2d70d4 !important;
}
a{
    color: #2d70d4;
    text-decoration: none;
    background-color: transparent;
}
a.social-icons .social-icon:hover {
    background-color: ##213a9e;
}
a:hover.social-icon {
    color: #ffffff;
}
