body{
		font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
		 font-family: 'Noto Sans TC', sans-serif;
}

subheading {
		font-family: 'Noto Sans TC', sans-serif;
}
h2.mb-0{
	text-transform: none;
}
div.subheading.mb-5{
	text-transform: none;line-height: 1em;
}
.bg-primary{
	background-color: #2d70d4;
	background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.text-primary {
    color: #2d70d4 !important;
}
a{
    color: #2d70d4;
    text-decoration: none;
    background-color: transparent;
}
a:hover.social-icon{
	  color: #2d70d4;
}
